.body {
  width: 100%;
  text-align: center;
}

.header {
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff !important;
}
a:hover {
  text-decoration: none !important;
}

hr {
  margin: 0;
}
